@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.header .branding .title, header .branding .title {
    font-size: .66667rem;
    font-weight: 400;
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
    letter-spacing: .01em;
    color: #fafafa;
    line-height: 2.5rem;
    text-decoration: none;
    margin-left: 10px;
}

.header .branding .title:hover {
    text-decoration: none;
}